.book-list {
  padding: 20px;

  .title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
  }

  .book-grid {
    display: grid;
    gap: 16px;
  }

  .book-card {
    display: flex;
    gap: 12px;
    padding: 12px;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: #f8f8f8;
    }

    .image {
      img {
        width: 80px;
        height: 110px;
        object-fit: cover;
        border-radius: 4px;
      }
    }

    .info {
      flex: 1;

      h3 {
        font-size: 16px;
        margin: 0;
      }

      .author {
        font-size: 13px;
        color: #555;
      }

      .rating {
        font-size: 13px;
        color: #ff9900;
      }

      // .price {
      //   font-weight: bold;
      //   margin-top: 4px;
      //   color: green;
      // }

//       .discount {
//   font-size: 12px;
//   color: #dc2626;
//   font-weight: 600;
// }

      .price {
  font-size: 18px;
  font-weight: 600;
  color: #16a34a; // 🔥 green offer price

  display: flex;
  align-items: center;
  gap: 10px;

  .original-price {
    font-size: 14px;
    color: #888;

    text-decoration: line-through; // 🔥 cut effect
  }
}
    }
  }
}