<div class="profile-page">

  <!-- LOGGED IN -->

  <div *ngIf="isLoggedIn">

    <div class="profile-card">

      <div class="profile-image">
        👤
      </div>

      <h2>{{ user?.name }}</h2>

      <p>{{ user?.phone }}</p>

    </div>

    <div class="profile-options">

      <!-- MY PURCHASE -->

      <div class="option">

        📚 My Purchases

        <span>
          {{ purchases.length }} Books
        </span>

      </div>

      <!-- PAYMENT -->

      <div class="option">

        💳 Total Payment

        <span>
          ₹{{ totalSpent }}
        </span>

      </div>

      <!-- SUPPORT -->

      <div class="option">

        📞 Contact Support

        <span>
          9372336433
        </span>

      </div>

      <!-- LOGOUT -->

      <div
        class="option logout"
        (click)="logout()"
      >

        🚪 Logout

      </div>

    </div>

  </div>

  <!-- LOGGED OUT -->

  <div
    class="login-box"
    *ngIf="!isLoggedIn"
  >

    <h2>
      Please Login First
    </h2>

    <button (click)="login()">
      Login
    </button>

  </div>

</div>