<div class="profile-page">

  <!-- LOGGED IN -->

  <div *ngIf="isLoggedIn">

    <div class="profile-card">

      <div class="profile-image">
        👤
      </div>

      <h2>{{ user?.name }}</h2>

      <p>{{ user?.phone }}</p>

    </div>

    <div class="profile-options">

      <!-- MY PURCHASE -->

      <div class="option">

        📚 My Purchases

        <span>
          {{ purchases.length }} Books
        </span>

      </div>

      <!-- PAYMENT -->

      <div class="option">

        💳 Total Payment

        <span>
          ₹{{ totalSpent }}
        </span>

      </div>

      <!-- SUPPORT -->

      <div class="option">

        📞 Contact Support

        <span>
          9372336433
        </span>

      </div>

      <!-- LOGOUT -->

      <div
        class="option logout"
        (click)="logout()"
      >

        🚪 Logout

      </div>

    </div>

  </div>

  <!-- LOGGED OUT -->

  <div
    class="login-box"
    *ngIf="!isLoggedIn"
  >

    <h2>
      Please Login First
    </h2>

    <button (click)="login()">
      Login
    </button>

  </div>

</div>


<!-- navbar start start -->
<!-- 🔥 BOTTOM NAVBAR -->

<div class="bottom-navbar">

  <!-- HOME -->
  <div
    class="nav-item"
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <span>🏠</span>
    <p>Home</p>
  </div>

  <!-- EXPLORE -->
  <div
    class="nav-item"
    routerLink="/explore"
    routerLinkActive="active"
  >
    <span>🔍</span>
    <p>Explore</p>
  </div>

  <!-- MY BOOKS -->
  <div
    class="nav-item"
    routerLink="/my-books"
    routerLinkActive="active"
  >
    <span>📚</span>
    <p>My Books</p>
  </div>

  <!-- PROFILE -->
  <div
    class="nav-item"
    routerLink="/profile"
    routerLinkActive="active"
  >
    <span>👤</span>
    <p>Profile</p>
  </div>

</div>

<!-- navbar end -->