<div class="sidebar-backdrop" *ngIf="isOpen" (click)="closeSidebar()"></div>

<div class="sidebar" [class.open]="isOpen">
    <div class="close-btn" (click)="closeSidebar()">X</div>
    <!-- <nav class="sidebar-links">
        <a href="#home" (click)="closeSidebar()">Home</a>
        <a routerLink="/admin-login" (click)="closeSidebar()">Admin</a>

    </nav> -->
    <h2>
    Support Center
  </h2>

  <!-- 🔥 SUPPORT -->

  <div class="menu-item">

    <span>📞</span>

    <a href="tel:9372336433">
      Call Support
    </a>

  </div>

  <!-- 🔥 WHATSAPP -->

  <div class="menu-item">

    <span>💬</span>

    <a
      href="https://wa.me/919372336433"
      target="_blank"
    >
      WhatsApp Support
    </a>

  </div>

  <!-- 🔥 EMAIL -->

  <div class="menu-item">

    <span>📧</span>

    <a
      href="mailto:suraj@example.com"
    >
      Email Support
    </a>

  </div>

  <!-- 🔥 REPORT -->

  <div class="menu-item">

    <span>🐞</span>

    <a
      href="https://wa.me/919372336433?text=I%20found%20a%20bug%20in%20your%20application"
      target="_blank"
    >
      Report Issue
    </a>

  </div>

  <!-- 🔥 FEATURE -->

  <div class="menu-item">

    <span>💡</span>

    <a
      href="https://wa.me/919372336433?text=I%20want%20to%20suggest%20a%20feature"
      target="_blank"
    >
      Suggest Feature
    </a>

  </div>

  <!-- 🔥 VERSION -->

  <div class="version">

    Version 1.0.0

  </div>
</div>