<div class="sidebar-backdrop" *ngIf="isOpen" (click)="closeSidebar()"></div>

<div class="sidebar" [class.open]="isOpen">
  <div class="close-btn" (click)="closeSidebar()">X</div>
  <!-- <nav class="sidebar-links">
        <a href="#home" (click)="closeSidebar()">Home</a>
        <a routerLink="/admin-login" (click)="closeSidebar()">Admin</a>

    </nav> -->
  <h2>
    Support Center
  </h2>

  <!-- 🔥 SUPPORT -->

  <div class="menu-item">

    <span>📞</span>

    <a [href]="'tel:' + appSetting.phone">
      Call Support
    </a>

  </div>

  <!-- 🔥 WHATSAPP -->

  <div class="menu-item">

    <span>💬</span>

    <a [href]="'https://wa.me/' + appSetting.whatsapp" target="_blank">

      WhatsApp Support

    </a>

  </div>

  <!-- 🔥 EMAIL -->

  <div class="menu-item">

    <span>📧</span>

    <a [href]="'mailto:' + appSetting.email">
      Email Support
    </a>

  </div>

  <!-- 🔥 REPORT -->

  <div class="menu-item">

    <span>🐞</span>

    <a [href]="'https://wa.me/' + appSetting.whatsapp + '?text=I found a bug in your application'" target="_blank">
      Report Issue
    </a>

  </div>

  <!-- 🔥 FEATURE -->

  <div class="menu-item">

    <span>💡</span>

    <a [href]="'https://wa.me/' + appSetting.whatsapp + '?text=I want to suggest a feature'" target="_blank">
      Suggest Feature
    </a>

  </div>

  <!-- WEBSITE -->

<div class="menu-item">

  <span>🌐</span>

  <a
    [href]="appSetting.website"
    target="_blank">

    Website

  </a>

</div>

<!-- INSTAGRAM -->

<div class="menu-item">

  <span>📸</span>

  <a
    [href]="appSetting.instagram"
    target="_blank">

    Instagram

  </a>

</div>

<!-- FACEBOOK -->

<div class="menu-item">

  <span>👍</span>

  <a
    [href]="appSetting.facebook"
    target="_blank">

    Facebook

  </a>

</div>

<!-- YOUTUBE -->

<div class="menu-item">

  <span>▶️</span>

  <a
    [href]="appSetting.youtube"
    target="_blank">

    YouTube

  </a>

</div>

  <!-- 🔥 VERSION -->

  <div class="version">

    Version {{ appSetting.version }}

  </div>
</div>