.my-books-page {

  min-height: 100vh;

  background: #000;

  color: white;

  padding: 20px;

  padding-bottom: 100px;
}

h1 {

  margin-bottom: 25px;
}

.book-box {

  display: flex;

  gap: 15px;

  background: #111;

  padding: 15px;

  border-radius: 18px;

  margin-bottom: 20px;

  border: 1px solid #222;

  transition: 0.3s;

  &:hover {

    border-color: gold;

    transform: translateY(-4px);
  }
}

.book-box img {

  width: 90px;

  height: 130px;

  object-fit: cover;

  border-radius: 12px;
}

.book-info {

  flex: 1;
}

.book-info h3 {

  color: white;

  margin-bottom: 10px;
}

.book-info p {

  color: #aaa;

  margin-bottom: 15px;
}

button {

  padding: 12px 22px;

  border: none;

  border-radius: 10px;

  background: gold;

  cursor: pointer;

  font-weight: bold;
}

.empty {

  text-align: center;

  margin-top: 50px;

  color: #888;
}


/* =========================================
🔥 BOTTOM NAVBAR start
========================================= */

.bottom-navbar {

  position: fixed;

  bottom: 0;
  left: 0;

  width: 100%;

  background: rgba(0,0,0,0.95);

  backdrop-filter: blur(10px);

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 12px 0;

  border-top: 1px solid #222;

  z-index: 999;
}



/* 🔥 NAV ITEM */

.nav-item {

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 4px;

  color: #888;

  cursor: pointer;

  transition: 0.3s;

  span {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.75rem;
  }

  &:hover {
    color: gold;
  }
}



/* 🔥 ACTIVE */

.active {
  color: gold;
}

/* =========================================
🔥 BOTTOM NAVBAR end
========================================= */