<div class="my-books-page">

  <h1>📚 My Purchased Books</h1>

  <div
    class="book-box"
    *ngFor="let book of purchasedBooks"
  >

    <!-- <img [src]="book.image" /> -->

   <img [src]="book.image" />

    <div class="book-info">

      <h3>{{ book.name  }}</h3>

      <p>{{ book.author }}</p>

      <!-- <button
        (click)="readBook(book.id)"
      >
        Read Now
      </button>

    </div> -->

    <!-- read now access button start -->

   <button
  class="buy"
  (click)="readBook(book.id)"
>
  Read Book
</button>

    <!-- read now access button end -->

  </div>

  <div
    class="empty"
    *ngIf="purchasedBooks.length === 0"
  >

    No Purchased Books Found 📚

  </div>

</div>

<!-- navbar start start -->
<!-- 🔥 BOTTOM NAVBAR -->

<div class="bottom-navbar">

  <!-- HOME -->
  <div
    class="nav-item"
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <span>🏠</span>
    <p>Home</p>
  </div>

  <!-- EXPLORE -->
  <div
    class="nav-item"
    routerLink="/explore"
    routerLinkActive="active"
  >
    <span>🔍</span>
    <p>Explore</p>
  </div>

  <!-- MY BOOKS -->
  <div
    class="nav-item"
    routerLink="/my-books"
    routerLinkActive="active"
  >
    <span>📚</span>
    <p>My Books</p>
  </div>

  <!-- PROFILE -->
  <div
    class="nav-item"
    routerLink="/profile"
    routerLinkActive="active"
  >
    <span>👤</span>
    <p>Profile</p>
  </div>

</div>

<!-- navbar end -->